src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="96cdc178-8589-4bba-9ff5-a3a16b47e020" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="47260c86-3f2f-41ee-b94d-dca2bad8d1fa" >
		<http:listener doc:name="Listener" doc:id="026027f8-d9d1-43ce-9c82-6734f9137103" config-ref="HTTP_Listener_config" path="hello"/>
		<ee:transform doc:name="Transform Message" doc:id="a43fd838-ce9b-43da-a0d6-dfc393f8d463" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	"HI Hemanth"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8d0df10e-ecc4-4156-8103-95abb65d7a26" message="#[payload]"/>
	</flow>
</mule>
